/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{margin: 0;}
nav{
    display: flex;
    background-color: #540B51;
    justify-content: space-between;
    
}
nav ul{
    display: none;
}
#nav-list{
    display: flex;
    justify-content: space-around;
}
#nav-list a{
    color: white;
    text-decoration: none;
}

.slack_logo{
    height: 25px;
    
}
hr{
    color: lightgrey;
}
/*-----------------------------------*/
header{
    background-color: #540B51;
    display: flex;
    flex-direction: column;
}
.header-title{
    color: white;
    text-align: center;
}
#header-p{
    text-align: center;
}
.slack-price{
    color: #ECB12F;
}
.how-long{
    color: white;
}
.header-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.sign-email{
    width: 90%;
    height: 45px;
    color: #540B51;
    font-weight: 800;
    margin-bottom: 10px;
    border: none;
    border-radius: 3px;
}
.sign-google img{
    height: 20px;
    background-color: white;
    margin-right: 20px;

}
.sign-google{
    width: 90%;
    height: 45px;
    color: white;
    font-weight: 800;
    background-color: #4285F4;
    border: none;
    border-radius: 3px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app-screenshot{
    width: 100%;
}
/*-----------------------------------------------*/
#partners{
    background-color: #F3EAE2;
    align-content: center;
}
#partners .partners-logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
#partners img{
    height: 40px;
    margin: 10px;
}
#partners p{
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
}
/*------------------------------------------------*/
#comunity-data{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10%;
}
#comunity-data .title{
    color: #540B51;
    font-size: 30px;
}
#comunity-data .subtitle{
    font-weight: 600;
    margin-bottom: 10%;
}
#com-data-list{
    list-style: none;
}
#com-data-list span{
    color: #540B51;
    font-size: 40px;
    font-weight: bold;
}
#com-data-list .text{
    font-weight: bold;
    margin: 0 25%;
}
/*---------------------------------------*/
#closing-sale{
    display: flex;
    flex-direction: column;
    background-color: #540B51;
    text-align: center;
    align-items: center;
    margin-bottom: 25px;
}

#closing-sale h3{
    color: white;
    font-size: 30px;
}
#closing-sale button{
    width: 90%;
    height: 45px;
    margin-bottom: 10px;
    border-radius: 3px;
    font-weight: 800;
    font-size: 15px;
}

#closing-sale .slack-free{
    background-color: white;
    color: #540B51;
    border: none;
}
#closing-sale .slack-premium{
    background-color:#540B51;
    color: white;
    border-color: white;
    margin-bottom: 10%;
}
/*----------------------------------------------*/
#footer-ul{
    margin: 40px 0;
    list-style: none;

}

#footer-ul li{
    margin-bottom: 10px;

}

#socialmedia-ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
#copyrights{
    color: #454245;
    text-align: center;
    margin-bottom: 30px;
}








@media (min-width: 1000px){
    .nav-menu-button{
        display: none;
    }
    #nav-right{
        display: flex;
        align-items: center;
    }
    #nav-left{
        display: flex;
        align-items: center;
        margin-left: 25px;
    }
    nav ul{
        list-style: none;
        display:flex;
    } 
    nav ul li{
        font-weight: bold;
        margin-right: 20px;
    }
    nav  ul a{
        color: white;
        text-decoration: none;
    }
    /*----------------------------------*/
    header{
        display: flex;
        flex-direction: row;
        align-content: space-between;
    }
    .header-title{
        font-size: 50px;
        text-align: left;
        margin-left: 7%;
        margin-bottom: 30%;
    }
    #header-p{
        font-size: 25px;
        text-align: left;
        margin-left: 7%;
    }
    .header-buttons{
        display: flex;
        flex-direction: row;
        align-items: left;
        margin-left: 7%;
        margin-bottom: 15%;
    }
    .sign-email{
        font-size: 14px;
        margin-bottom: 0;
        height: 50px;
        width: 40%;
    }
    .sign-google img{
        height: 20px;
    }
    .sign-google{
        font-size: 14px;
        height: 50px;
        width: 40%;
        margin-left: 3%;
        margin-bottom: 0;
    }
    .app-screenshot{
        margin-top: 10%;
        margin-left: 10%;
        width: 50%;
    }
    /*--------------------------------------------*/
    #partners p{
        font-size: 25px;
    }
    #partners .partners-logo{
        justify-content: space-around;
    }
    /*---------------------------------------*/
    #comunity-data{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #comunity-data .title{
        font-size: 45px;
    }
    #comunity-data .subtitle{
        margin-bottom: 2%;
    }
    #com-data-list{
        display: flex;
        justify-content: space-between;
    }
    #com-data-list span{
        font-size: 50px;
        
    }
    #com-data-list .text{
        text-align: left;
        margin: 0 10%;
    }
    /*----------------------------------------*/
    #closing-sale h3{
        font-size: 45px;
    }
    #closing-sale button{
        width: 200px;
        height: 55px;
        border-radius: 3px;
        font-weight: 800;
        font-size: 20px;
    }
    /*----------------------------------------*/
    #footer-ul{
        display: flex;
        font-weight: bold;
        justify-content: space-around;
    }
    #socialmedia-ul{
        display: flex;
        justify-content: flex-start;
    }
    #socialmedia-ul li{
        margin-left: 5%;
    }
}

